body {
  background-color: #F7F9FC;
  font-family: 'Mukta', sans-serif;
  color: #14213d;
  font-size: 15px;
  line-height: 50px;
}

h1, h2, h3 {
  color: #05668d;
  font-family: 'Roboto' sans-serif;
  line-height: 35px; /*changed line height */
}

h1 {
  font-size: 30px;
  padding: 0 0 30;
}

h2 {
  color: #028090;
  font-size: 20px;
}

h3{
  color: #00a896;
  font-size: 15px;
}

p {
  color: #293241;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.img-rounded-edges {
  border-radius: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.button {
color: #4281a4!important;
background: rgb(225,225,225);
padding: 0 10;
border: 4px solid #4281a4!important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
font-style: "Roboto" sans-serif;
font-size: 16px;
font-weight: 600;
}

.button:hover {
color: #003459 !important;
border-radius: 50px;
border-color: #003459 !important;
transition: all 0.3s ease 0s;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
    background-color: #ecf8f8;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
